{{each b_s value}}
<section id="{{value.id}}" class="page-activ">
    <header>
        <h3>成果展示
            <small>{{value.year}}</small>
        </h3>
        <h5>我们致力于打造提供竞赛经验、竞赛资料的优质学生社团</h5>
    </header>
    {{each value.c c}}
    <h1>{{c.name}}</h1>
    <table class="table">
        <tr>
            <th>组别</th>
            <th>姓名</th>
            <th>奖项</th>
        </tr>
        {{each c.d d}}
        <tr>
            <td>{{d.type}}</td>
            <td>{{d.name}}</td>
            <td>{{d.honor}}</td>
        </tr>
        {{/each}}
    </table>
    {{/each}}
</section>
{{/each}}