{{each c value}}
<div class="item">
    <div class="blog-box anim-shadow">
        <div class="blog-box-img"><img src="{{value.url}}" class="img-responsive"></div>
        <div class="blog-box-caption">
            <h5 class="title">{{value.title}}</h5>
            <p>{{value.introduce}}<a class="page-link" href="index.html#c{{value.res}}">点击进入<i
                    class="fa fa-fw fa-angle-double-right"></i></a></p>
        </div>
        <div class="blog-box-footer"><span class="autor">{{value.auther}}</span> <span
                class="separator">|</span> <span class="date"><i
                class="fa fa-fw fa-clock-o"></i>{{value.time}}</span> <span
                class="like pull-right"><i class="fa fa-fw fa-users"></i>{{value.num}}</span></div>
    </div>
</div>
{{/each}}